/* CSS code for wohnung detail page
** added by criscom
** /wohnung/wohnung-1-4-zimmer-wohnung-4-er-wg
*/


.flippy {
    padding-left: 16px;
    padding-left: 1rem;
    .prev {
        padding-left: 0;
    }
}


// .field-name-field-text-links ul {
// @include flexbox((
//     display: flex,
//     flex-flow: row wrap,
//     justy-content: space-around
//   ));
//     li {
//         width: 250px;
//     }
// }
